# Una nueva normalidad

<img src=images/highres.jpg alt="170" width="850"/>

In [1]:
import numpy as np
import pandas as pd
from pymongo import MongoClient

In [2]:
# Two datasets are imported:
# prov reports on the situation of the 52 provinces
# excep handles the exceptions for all the municipalities inside the province

prov = pd.read_csv("data/Provincias.csv", dtype={"CP": object})
excep = pd.read_csv("data/Excepciones.csv", dtype={"CP": object, "Provincia": object})

In [3]:
display(prov.head())
display(excep.head())

   CP Provincia Fase  Excepcion
0  04   Almer칤a    1      False
1  11     C치diz    1      False
2  14   C칩rdoba    1      False
3  21    Huelva    1      False
4  23      Ja칠n    1      False

  Provincia     CP                     Municipio  Fase        Territorio
0        43  43896             Aldea (Baix Ebre)     1  Terres de l'Ebre
1        43  43591           Aldover (Baix Ebre)     1  Terres de l'Ebre
2        43  43528  Alfara De Carles (Baix Ebre)     1  Terres de l'Ebre
3        43  43860    Ametlla de Mar (Baix Ebre)     1  Terres de l'Ebre
4        43  43895           Ampolla (Baix Ebre)     1  Terres de l'Ebre

## 游빛 Handling the "CP" column

In [4]:
# The dataframe index becomes the code of the province 
# with an exception

byCode = excep.set_index(["Provincia"])

byCode

                CP                     Municipio  Fase        Territorio
Provincia
43           43896             Aldea (Baix Ebre)     1  Terres de l'Ebre
43           43591           Aldover (Baix Ebre)     1  Terres de l'Ebre
43           43528  Alfara De Carles (Baix Ebre)     1  Terres de l'Ebre
43           43860    Ametlla de Mar (Baix Ebre)     1  Terres de l'Ebre
43           43895           Ampolla (Baix Ebre)     1  Terres de l'Ebre
...            ...                           ...   ...               ...
49           49630                   Villalpando     1       Villalpando
49           49131          Villamayor de Campos     1       Villalpando
49         49100\t          Villanueva del Campo     1       Villalpando
49           49132            Villar de Fallaves     1       Villalpando
49           49129                    Villardiga     1       Villalpando

[795 rows x 4 columns]

In [5]:
# Several municipalities have several Zip Codes
# The column is exploded and cleaned

def clean_CP(df):
    df["CP"] = df["CP"].apply(lambda X: X.split(","))
    df = df.explode("CP")
    df["CP"] = df["CP"].apply(lambda X: X.replace(" ", ""))
    df["CP"] = df["CP"].apply(lambda X: X.replace("\t", ""))
    return df

df = clean_CP(byCode)
df.head()

              CP                     Municipio  Fase        Territorio
Provincia
43         43896             Aldea (Baix Ebre)     1  Terres de l'Ebre
43         43591           Aldover (Baix Ebre)     1  Terres de l'Ebre
43         43528  Alfara De Carles (Baix Ebre)     1  Terres de l'Ebre
43         43860    Ametlla de Mar (Baix Ebre)     1  Terres de l'Ebre
43         43895           Ampolla (Baix Ebre)     1  Terres de l'Ebre

## 游 Handling the exceptions into a dict

### I want my database to be a nested dictionary where in the case of Excepcion = True, an object with all the zip codes that have an exception is returned.

In [6]:
# A dictionary of dataframes is created
# Each dataframe will be grouped by each Zip Code

codigos = byCode.index.value_counts().index.to_list()

dfDict = {codigo : df.loc[codigo] for codigo in codigos}

print(dfDict.keys())

dict_keys(['43', '03', '46', '49', '25', '09', '12', '47', '05', '37', '24', '34', '42'])

In [7]:
# Each df of dfDict is converted to a dictionary of dictionaries

dictDict = {}
for i in dfDict:
    dictDict[i] = dfDict[i].to_dict("record")

print(dictDict["43"][0])

{'CP': '43896', 'Municipio': 'Aldea (Baix Ebre)', 'Fase': 1, 'Territorio': "Terres de l'Ebre"}

In [8]:
# Trato cada diccionario de dataframes para que me devuelva la arquitectura que quiero

def parse_excepcion(dfDict, code):
    dictio ={}
    dictio[code] = dfDict[code].to_dict("record")
    d_temp = {}
    for territory in dictio[code]:
        d_temp[territory['CP']] = {'Fase':territory['Fase'],'Territorio':territory['Territorio']}

    return d_temp

In [9]:
# The initial prov df is converted to dictionary so I can change the value when "Excepcion" = True

data_dict = prov.to_dict("records")

print(data_dict[0])
print(data_dict[-1])

{'CP': '04', 'Provincia': 'Almer칤a', 'Fase': '1', 'Excepcion': False}
{'CP': '49', 'Provincia': 'Zamora', 'Fase': 'Parcial', 'Excepcion': True}

In [10]:
# data_dict when Excepcion = True is changed
# Now it is parsed as I want it

for value in data_dict:
    if value['Excepcion']:
        prefijo = value["CP"]
        excepcion = parse_excepcion(dfDict, prefijo)
        value['Excepcion'] = excepcion
        
print(data_dict[0])
print(data_dict[-1])

{'CP': '04', 'Provincia': 'Almer칤a', 'Fase': '1', 'Excepcion': False}
{'CP': '49', 'Provincia': 'Zamora', 'Fase': 'Parcial', 'Excepcion': {'49160': {'Fase': 1, 'Territorio': 'Carbajales'}, '49541': {'Fase': 1, 'Territorio': 'Carbajales'}, '49543': {'Fase': 1, 'Territorio': 'Carbajales'}, '49540': {'Fase': 1, 'Territorio': 'Tabara'}, '49163': {'Fase': 1, 'Territorio': 'Carbajales'}, '49146': {'Fase': 1, 'Territorio': 'Carbajales'}, '49147': {'Fase': 1, 'Territorio': 'Carbajales'}, '49542': {'Fase': 1, 'Territorio': 'Carbajales'}, '49164': {'Fase': 1, 'Territorio': 'Carbajales'}, '49165': {'Fase': 1, 'Territorio': 'Carbajales'}, '49571': {'Fase': 1, 'Territorio': 'Alta Sanabria'}, '49572': {'Fase': 1, 'Territorio': 'Alta Sanabria'}, '49570': {'Fase': 1, 'Territorio': 'Alta Sanabria'}, '49573': {'Fase': 1, 'Territorio': 'Alta Sanabria'}, '49574': {'Fase': 1, 'Territorio': 'Alta Sanabria'}, '49580': {'Fase': 1, 'Territorio': 'Alta Sanabria'}, '49582': {'Fase': 1, 'Territorio': 'Alta Sanabria'}, '49583': {'Fase': 1, 'Territorio': 'Alta Sanabria'}, '49141': {'Fase': 1, 'Territorio': 'Tabara'}, '49335': {'Fase': 1, 'Territorio': 'Tabara'}, '49334': {'Fase': 1, 'Territorio': 'Tabara'}, '49337': {'Fase': 1, 'Territorio': 'Tabara'}, '49550': {'Fase': 1, 'Territorio': 'Tabara'}, '49697': {'Fase': 1, 'Territorio': 'Tabara'}, '49740': {'Fase': 1, 'Territorio': 'Tabara'}, '49336': {'Fase': 1, 'Territorio': 'Tabara'}, '49145': {'Fase': 1, 'Territorio': 'Tabara'}, '49148': {'Fase': 1, 'Territorio': 'Tabara'}, '49333': {'Fase': 1, 'Territorio': 'Tabara'}, '49591': {'Fase': 1, 'Territorio': 'Tabara'}, '49592': {'Fase': 1, 'Territorio': 'Tabara'}, '49140': {'Fase': 1, 'Territorio': 'Tabara'}, '49610': {'Fase': 1, 'Territorio': 'Santiba침ez de Vidriales'}, '49618': {'Fase': 1, 'Territorio': 'Santiba침ez de Vidriales'}, '49619': {'Fase': 1, 'Territorio': 'Santiba침ez de Vidriales'}, '49621': {'Fase': 1, 'Territorio': 'Santiba침ez de Vidriales'}, '49622': {'Fase': 1, 'Territorio': 'Santiba침ez de Vidriales'}, '49696': {'Fase': 1, 'Territorio': 'Santiba침ez de Vidriales'}, '49629': {'Fase': 1, 'Territorio': 'Santiba침ez de Vidriales'}, '49327': {'Fase': 1, 'Territorio': 'Santiba침ez de Vidriales'}, '49326': {'Fase': 1, 'Territorio': 'Santiba침ez de Vidriales'}, '49500': {'Fase': 1, 'Territorio': 'Alca침ices'}, '49514': {'Fase': 1, 'Territorio': 'Alca침ices'}, '49517': {'Fase': 1, 'Territorio': 'Alca침ices'}, '49518': {'Fase': 1, 'Territorio': 'Alca침ices'}, '49709': {'Fase': 1, 'Territorio': 'Corrales del Vino'}, '49708': {'Fase': 1, 'Territorio': 'Corrales del Vino'}, '49700': {'Fase': 1, 'Territorio': 'Corrales del Vino'}, '49706': {'Fase': 1, 'Territorio': 'Corrales del Vino'}, '49710': {'Fase': 1, 'Territorio': 'Corrales del Vino'}, '49717': {'Fase': 1, 'Territorio': 'Corrales del Vino'}, '49714': {'Fase': 1, 'Territorio': 'Corrales del Vino'}, '49191': {'Fase': 1, 'Territorio': 'Corrales del Vino'}, '49718': {'Fase': 1, 'Territorio': 'Corrales del Vino'}, '49176': {'Fase': 1, 'Territorio': 'Corrales del Vino'}, '49177': {'Fase': 1, 'Territorio': 'Corrales del Vino'}, '49178': {'Fase': 1, 'Territorio': 'Corrales del Vino'}, '49715': {'Fase': 1, 'Territorio': 'Corrales del Vino'}, '49707': {'Fase': 1, 'Territorio': 'Corrales del Vino'}, '49128': {'Fase': 1, 'Territorio': 'Villalpando'}, '49110': {'Fase': 1, 'Territorio': 'Villalpando'}, '49640': {'Fase': 1, 'Territorio': 'Villalpando'}, '49639': {'Fase': 1, 'Territorio': 'Villalpando'}, '49638': {'Fase': 1, 'Territorio': 'Villalpando'}, '49650': {'Fase': 1, 'Territorio': 'Villalpando'}, '49129': {'Fase': 1, 'Territorio': 'Villalpando'}, '49133': {'Fase': 1, 'Territorio': 'Villalpando'}, '49134': {'Fase': 1, 'Territorio': 'Villalpando'}, '49630': {'Fase': 1, 'Territorio': 'Villalpando'}, '49131': {'Fase': 1, 'Territorio': 'Villalpando'}, '49100': {'Fase': 1, 'Territorio': 'Villalpando'}, '49132': {'Fase': 1, 'Territorio': 'Villalpando'}}}

## 游깴 Connection to MongoDB server

In [11]:
# Setting up the connection to the database

client = MongoClient()

def insertRecord(dictionary):
    db = client["unanuevanormalidad"] # Creo db
    collection = db["data"] # Creo collection
    collection.insert_many(dictionary)

In [12]:
# Final dictionary is added to the database

insertRecord(data_dict)